<h1>CONFIGURATION</h1>

<button ng-click="switchToMongoDB()" id="configuraton-button-mongodb" type="button" class="btn btn-lg btn-primary">MongoDB</button>

<button ng-click="switchToMonCache()" id="configuration-button-moncache" type="button" class="btn btn-lg btn-success">MonCache</button>
