<h1>DASHBOARD</h1>

<div ng-show="noData == true" class="jumbotron ng-hide">
  <h1>¯\_ (ツ) _/¯   Nothing to show!</h1>
  <p>
    Maybe you should close your business?

    I'm really have no any information to show it here.
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="#/orders/form" role="button">Create order &raquo;</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" ng-show="noData == false">
      <h3>PRODUCTS</h3>
      <canvas id="chart_products" style="width: 400px; height: 400px;"></canvas>
    </div>
    <div class="col-md-6" ng-show="noData == false">
      <h3>OFFICES</h3>
      <canvas id="chart_offices" style="width: 400px; height: 400px;"></canvas>
    </div>
  </div>
</div>

<div ng-show="noData == false">
  <h3>ORDERS</h3>
  <canvas id="chart_orders" style="width: 100%; height: 400px;"></canvas>
</div>
